<%- include("../partials/adminheader") %>


<div class="container">
    <div class="row">
        <div class="col-4 overview">
            <h1>Overview</h1>
            <ul>
                <li>Total Users: 3,200</li>
                <li>Live Users: 25</li>
                <li>Total Sessions: 10,223</li>
                <li>Revenue: $152,423</li>
                <li>Remaining Inventory: 2,342</li>
            </ul>
            <h1>Orders</h1>
            <ul>
                <li>Cancelled: 5</li>
                <li>In Process: 25</li>
                <li>Shipped: 400</li>
            </ul>
        </div>
        <div class="col-8">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script src="../../public/jquery/chart.js"></script>
<%- include("../partials/footer") %>