<form action="#" method="post" class="delete">
    <table>
        <tr>
            <td>ID:</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>T-Shirt</td>
        </tr>
        <tr>
            <td>Inventory Amt:</td>
            <td>300</td>
        </tr>
        <tr>
            <td>Quantity Sold:</td>
            <td>20</td>
        </tr>
        <tr>
            <td>
                Images: 
            </td>
            <td>
                <img src="https://images.unsplash.com/photo-1589359096049-85292b87bf51?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FzaG1lcmUlMjBzd2VhdGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
                <img src="https://images.unsplash.com/photo-1589359096049-85292b87bf51?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FzaG1lcmUlMjBzd2VhdGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="">
            </td>
        </tr>
    </table>
    <div>
        <label for="delete">Confirm Delete:</label>
        <input class="btn btn-danger"type="submit" value="DELETE">
        <input class="btn btn-warning cancel" type="submit" value="Cancel">
    </div>

</form>