<%- include("./partials/userheader") %>

    <div class="jumbotron">
        <div class="content">
            <h1 class="display-4">Welcome to bEtsy</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information.</p>
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="search" placeholder="What're you shopping for?" aria-describedby="button-addon1"
                        class="form-control border-0 bg-light search">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container home_category" id="home_container">
        <div>
            <a href="#"><img src="https://images.unsplash.com/photo-1541099649105-f69ad21f3246?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="pants">
            <p>Pants</p></a>
        </div>
        <div>
            <a href="/products"><img src="https://images.unsplash.com/photo-1568151556783-f2b5999eada6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjV8fHNoaXJ0fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                alt="shirt">
            <p>Shirt</p></a>
        </div>
        <div>
            <a href="#"><img src="https://images.unsplash.com/photo-1604573824419-289a9a10672c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"
                alt="sweater">
            <p>Sweater</p></a>
        </div>
        <div>
            <a href="#"><img src="https://images.unsplash.com/photo-1555036891-fcc7de8d6f8b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1532&q=80"
                alt="jacket">
            <p>Jacket</p></a>
        </div>
    </div>

    <%- include("./partials/footer") %>