<%- include("../partials/userheader") %>

<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="search" placeholder="Search By Item" aria-describedby="button-addon1"
                        class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="side_nav_category">
                <h3>Browse By:</h1>
                <ul>
                    <a href="#"><li>Pants</li></a>
                    <a href="#"><li>Shirt</li></a>
                    <a href="#"><li>Sweater</li></a>
                    <a href="#"><li>Shorts</li></a>
                    <a href="#"><li>Jacket</li></a>
                </ul>
            </div>
        </div>

        <div class="col-10 product_thumbnail">
            <h1>Shirts</h1>
            <div class="row">
                <div class="col-3">
                    <a href="/products/1"><img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_b?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1594829486462-33204eea07c3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjIyfHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1611312449412-6cefac5dc3e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzU2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1596755094514-f87e34085b2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzE2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1573766713733-18f875c7892d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1535&q=80" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1594829486462-33204eea07c3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjIyfHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1611312449412-6cefac5dc3e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzU2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1596755094514-f87e34085b2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzE2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1573766713733-18f875c7892d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1535&q=80" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1594829486462-33204eea07c3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjIyfHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1611312449412-6cefac5dc3e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzU2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#"><img src="https://images.unsplash.com/photo-1596755094514-f87e34085b2c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzE2fHxzaGlydHxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="shirt">
                        <p>[PRODUCT NAME]</p>
                        <p>$9.99</p>
                    </a>
                </div>
            </div>
            <div class="page">
                <ul>
                    <li>Page: </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end of row -->
    </div>
</div>

<%- include("../partials/footer") %>