<%- include("../partials/userheader") %>

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="row">
                    <img class="main_thumbnail"
                        src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_b?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314"
                        alt="">
                </div>
                <div class="row preview_thumbnail">
                    <div class="col-3">
                        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_d?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314"
                            alt="">
                    </div>
                    <div class="col-3">
                        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_e?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314"
                            alt="">
                    </div>
                    <div class="col-3">
                        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_f?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314"
                            alt="">
                    </div>
                    <div class="col-3">
                        <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515254_000_g?$xlarge$=&fit=constrain&fmt=webp&qlt=80&wid=1314"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-6 product_info">
                <h1>Product Name</h1>
                <h2>$9.99</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae labore, nam perferendis in
                    voluptatibus? Minima provident iure a asperiores suscipit facere et possimus doloremque, voluptatum
                    ea rem voluptates voluptatem.</p>
                <form action="#" method="post">
                    <div class="form-group">
                        <label for="quantity">Qauntity:</label>
                        <select class="form-select" name="quantity" aria-label="Default select example">
                            <option selected>--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-dark">Add to Bag</button>
                </form>
            </div>
        </div>
        <p>Often Viewed With</p>
        <hr>
        <div class="row similar_items">
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/56725070_031_d?$medium$&qlt=80&fit=hfit"
                alt="">
            </div>
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515486_030_d?$medium$&qlt=80&fit=hfit" alt="">
            </div>
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/56504004_020_d?$medium$&qlt=80&fit=hfit" alt="">
            </div>
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/56503808_010_d?$medium$&qlt=80&fit=hfit" alt="">
            </div>
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/56909161_050_d?$medium$&qlt=80&fit=hfit" alt="">
            </div>
            <div class="col-2">
                <img src="https://s7d5.scene7.com/is/image/UrbanOutfitters/59515486_030_d?$medium$&qlt=80&fit=hfit" alt="">
            </div>
        </div>
    </div>

    <%- include("../partials/footer") %>