<%- include("../../partials/adminheader") %>

<div class="container show_order">
    <div class="row">
        <h1>Order ID 3 Details</h1>
        <table class="table-striped">
            <thead>
               <tr>
                  <th scope="col">ITEM ID</th>
                  <th class="col">PRODUCT</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">QTY</th>
                  <th scope="col">TOTAL</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>24</td>
                  <td>T-SHIRT</td>
                  <td>$9.99</td>
                  <td>5</td>
                  <td>$45.95</td>
               </tr>
               <tr>
                  <td>24</td>
                  <td>T-SHIRT</td>
                  <td>$9.99</td>
                  <td>5</td>
                  <td>$45.95</td>
               </tr>
               <tr>
                  <td>24</td>
                  <td>T-SHIRT</td>
                  <td>$9.99</td>
                  <td>5</td>
                  <td>$45.95</td>
               </tr>
            </tbody>
         </table>
    </div>
    <div class="row justify-content-around ">
        <div class="col-4 details">
            <div>
                <h3>Customer Shipping Info</h3>
                <table>
                    <tr>
                        <td>NAME:</td>
                        <td>Joey</td>
                    </tr>
                    <tr>
                        <td>ADDRESS:</td>
                        <td>123 Pine Rd.</td>
                    </tr>
                    <tr>
                        <td>CITY:</td>
                        <td>Irvine</td>
                    </tr>
                    <tr>
                        <td>STATE:</td>
                        <td>CA</td>
                    </tr>
                    <tr>
                        <td>ZIP:</td>
                        <td>92657</td>
                    </tr>
                </table>
                <h3>Customer Billing Info</h3>
                <table>
                    <tr>
                        <td>NAME:</td>
                        <td>Joey</td>
                    </tr>
                    <tr>
                        <td>ADDRESS:</td>
                        <td>123 Pine Rd.</td>
                    </tr>
                    <tr>
                        <td>CITY:</td>
                        <td>Irvine</td>
                    </tr>
                    <tr>
                        <td>STATE:</td>
                        <td>CA</td>
                    </tr>
                    <tr>
                        <td>ZIP:</td>
                        <td>92657</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-4 ">
            <div class="row details">
                <table>
                    <tr>
                        <td>SUBTOTAL:</td>
                        <td>$90.93</td>
                    </tr>
                    <tr>
                        <td>SHIPPING:</td>
                        <td>$10.00</td>
                    </tr>
                    <tr>
                        <td>TOTAL:</td>
                        <td><span>$30.98</span></td>
                    </tr>
                </table>
            </div>
            <div class="row details">
                <table>
                    <tr>
                        <td>ORDER ID:</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>STATUS:</td>
                        <td>SHIPPED</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<%- include("../../partials/footer") %>