<%- include("../../partials/adminheader") %>

    <div class="container new_product">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="card-title text-center">Add New Product</h1>
                <form id="main_form" class="main_form" action="/admin/products/new" method="post"></form>

                    <div class="form-group">
                        <label for="name">Product Name:</label>
                        <input form="main_form" type="text" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input form="main_form" type="text" name="description" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input form="main_form" type="number" name="price" step="0.01" min="0" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="inventory">Inventory:</label>
                        <input form="main_form" type="number" name="inventory" min="1" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Category:</label>
                        <select form="main_form" class="form-control" name="category" required>
                            <option value="1">Pants</option>
                            <option value="2">Skirt</option>
                            <option value="3">Shorts</option>
                            <option value="4">Jeans</option>
                            <option value="5">Sweater</option>
                        </select>
                        <!-- <button class="btn btn-danger open" type="button" aria-expanded="false">+</button> -->
                    </div>
                    
                <!-- Photos upload Form -->
                <form id="image_form" enctype="multipart/form-data" action="/admin/products/new/images" method="post" required></form>
                    <div id="image_input" class="form-group">
                        <label for="photos-input">File input (4 Images):</label>
                        <input form="image_form" id="file" type="file" name="upload" multiple>
                        <button form="image_form" class="btn btn-warning image_upload" type="submit"
                            aria-expanded="false">Add
                            Photos</button>
                    </div>
                
                <div class="pending_upload">
                    <!-- image partials goes here -->
                </div>

                <div class="error">
                    <!-- error partials goes here -->
                </div>
                
                <button form="main_form" class="btn btn-primary" type="submit">Add Product</button>
            </div>
        </div>
    </div>

    <script src="../../public/jquery/admin_products.js"></script>
    <%- include("../../partials/footer") %>